# Node and NPM
node_modules
dist
server/public
package-lock.json

# Misc. and Configs
.DS_Store
vite.config.ts.*
*.tar.gz

# Residuals
uploads/*
!uploads/.gitkeep

# Repl.it Files
.config
.pythonlibs
.upm
